<page-header [title]="'微服务'">
  <ng-container *ngIf="selectedRows.length > 0">
    <button nz-button [nzSize]="'large'">批量操作</button>
    <nz-dropdown [nzPlacement]="'bottomLeft'">
      <button nz-button nz-dropdown [nzSize]="'large'">
        更多操作
        <i class="anticon anticon-down"></i>
      </button>
      <ul nz-menu>
        <li nz-menu-item (click)="remove()">删除</li>
        <li nz-menu-item (click)="approval()">批量审批</li>
      </ul>
    </nz-dropdown>
    &nbsp;
  </ng-container>
  <button nz-button routerLink="detail/0" [nzType]="'primary'" [nzSize]="'large'">
    <i class="anticon anticon-plus"></i>
    创建
  </button>
  <nz-dropdown>
    <button nz-button nz-dropdown [nzType]="'primary'" [nzSize]="'large'">
      导出
      <i class="anticon anticon-down"></i>
    </button>
    <ul nz-menu>
      <li nz-menu-item>Excel</li>
      <li nz-menu-item>JSON</li>
      <li nz-menu-item>PNG</li>
    </ul>
  </nz-dropdown>
</page-header>
<nz-card [nzBordered]="false">
  <form nz-form (ngSubmit)="getData()" [nzLayout]="'inline'">
    <nz-row [nzGutter]="24">
      <nz-col [nzSpan]="8" class="mb-md">
        <nz-form-item class="d-flex">
          <nz-form-label>名称</nz-form-label>
          <nz-form-control class="flex-1">
            <input [(ngModel)]="q.no" name="no" [nzSize]="'large'" nzId="no" nz-input [placeholder]="'应用名/ID'">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="8" class="mb-md">
        <nz-form-item class="d-flex">
          <nz-form-label>使用状态</nz-form-label>
          <nz-form-control class="flex-1">
            <nz-select [(ngModel)]="q.productId" name="productId" nzId="productId" [nzPlaceHolder]="'产品组'" [nzSize]="'large'">
              <nz-option *ngFor="let i of products" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col *ngIf="expandForm" [nzSpan]="8" class="mb-md">
        <nz-form-item class="d-flex">
          <nz-form-label>调用次数</nz-form-label>
          <nz-form-control class="flex-1">
            <input [nzSize]="'large'" nzId="callNo" nz-input>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col *ngIf="expandForm" [nzSpan]="8" class="mb-md">
        <nz-form-item class="d-flex">
          <nz-form-label>更新日期</nz-form-label>
          <nz-form-control class="flex-1">
            <!--<nz-datepicker [nzSize]="'large'" [nzPlaceHolder]="'请输入更新日期'" nzId="updatedAt" class="d-block"></nz-datepicker>-->
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col *ngIf="expandForm" [nzSpan]="8" class="mb-md">
        <nz-form-item class="d-flex">
          <nz-form-label>使用状态</nz-form-label>
          <nz-form-control class="flex-1">
            <nz-select [nzPlaceHolder]="'请选择'" nzId="status2" [nzShowSearch]="true" [nzSize]="'large'">
              <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col *ngIf="expandForm" [nzSpan]="8" class="mb-md">
        <nz-form-item class="d-flex">
          <nz-form-label>使用状态</nz-form-label>
          <nz-form-control class="flex-1">
            <nz-select [nzPlaceHolder]="'请选择'" nzId="status3" [nzShowSearch]="true" [nzSize]="'large'">
              <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="_loading" [nzSize]="'large'">查询</button>
        <button nz-button type="reset" (click)="getData()" [nzSize]="'large'" class="mx-sm">重置</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '收起' : '展开'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </nz-col>
    </nz-row>
  </form>
  <div class="mb-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true">
      <span alert-body>
        已选择
        <strong class="text-primary">{{selectedRows.length}}</strong>
        条&nbsp;&nbsp;     总计
        <strong>{{vm.total}}</strong>
        条
      </span>
    </nz-alert>
  </div>
  <nz-table #nzTable [nzLoading]="_loading" [nzData]="vm.data" [nzTotal]="vm.total" [(nzPageSize)]="q.pageSize" [(nzPageIndex)]="q.pageIndex" (nzPageIndexChange)="getData()" (nzPageSizeChange)="getData()" [nzShowSizeChanger]="true">
    <thead>
      <tr>
        <th [nzChecked]="true">
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)"></label>
        </th>
        <th nzShowSort nzSortKey="id">
          <span>微服务</span>
        </th>
        <th nzShowSort nzSortKey="email">
          <span>描述</span>
        </th>
        <th>
          <span>状态</span>
        </th>
        <th>
          <span>统计</span>
        </th>
        <th>
          <span>操作</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of nzTable.data">
        <td [nzChecked]="true">
          <label nz-checkbox [(ngModel)]="x.checked" (ngModelChange)="_refreshStatus($event)"></label>
        </td>
        <td>
          <h4>{{x.displayName}}</h4>
          <p>{{x.name}}</p>
        </td>
        <td>{{x.description}}</td>
        <td>
          <nz-badge [nzStatus]="x.enabled?'success':'default'" [nzText]="x.enabled?'已上线':'关闭'"></nz-badge>
        </td>
        <td>
         
        </td>
        <td>
          <a (click)="edit(x.id)">版本</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a routerLink="detail/{{x.id}}">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <nz-popconfirm [nzTitle]="'确定要删除？'" (nzOnConfirm)="confirm(x.id)">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
