.table-container {
  &:not(:first-child)

{
  margin-top: 10px;
}

.table-name {
  color: blue;
}

}

table {
  border-collapse: collapse;
  border-spacing: 0;
  th, td

{
  border: 1px solid black;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  //white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

th {
  background-color: #00c6ff;
}

tr {
  &:nth-child(2n+2)

{
  background-color: #9ff5ff;
}

&:nth-child(2n+1) {
  background-color: #ffffc7;
}

}
}
