<nz-row [nzGutter]="40">
  <nz-col [nzSpan]="2">
    <button nz-button [nzSize]="'large'" routerLink="../../">返回</button>
  </nz-col>
  <nz-col [nzSpan]="2">
    <button nz-button nzType="primary" [nzSize]="'large'" routerLink="detail/0">创建用户</button>
  </nz-col>
</nz-row>
<br />
<nz-spin [nzSpinning]="_loading">
  <nz-table #nzTable [nzData]="data" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)">
    <thead>
      <tr>
        <th [nzChecked]="true">
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)"></label>
        </th>
        <th>
          <span>活动名称</span>
        </th>
        <th>
          <span>开始时间</span>
        </th>
        <th>
          <span>结束时间</span>
        </th>
        <th>
          <span>操作</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of gameinstance?.dataArray">
        <td [nzChecked]="true">
          <label nz-checkbox [nzDisabled]="data.disabled" [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)"></label>
        </td>
        <td>
          <a>{{data.instanceName}}</a>
        </td>
        <td>{{data.startDate}}</td>
        <td>{{data.endDate}}</td>
        <td>
          <a routerLink="detail/{{data.instanceId}}">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <nz-popconfirm [nzTitle]="'确定要删除？'" (nzOnConfirm)="confirm(data.instanceId)" (nzOnCancel)="cancel()">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
