<button nz-button [nzSize]="'large'" routerLink="../../">返回</button>
<h1>{{id>0?'更新':'创建用户'}}</h1>
<br />
<nz-spin [nzSpinning]="_loading">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="AddOrUpdate()">
    <nz-row>
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            <span>
              instanceName
              <nz-tooltip [nzTitle]="'What do you want other to call you'">
                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
              </nz-tooltip>
            </span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input [nzSize]="'large'" formControlName="instanceName" nz-input>
            <nz-form-explain *ngIf="getFormControl('instanceName').dirty&&getFormControl('instanceName').hasError('required')">Please input your instanceName!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">instanceDetails</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input [nzSize]="'large'" formControlName="instanceDetails" nz-input>
            <nz-form-explain *ngIf="getFormControl('instanceDetails').dirty&&getFormControl('instanceDetails').hasError('required')">Please input instanceDetails!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">instanceRules</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input [nzSize]="'large'" formControlName="instanceRules" nz-input>
            <nz-form-explain *ngIf="getFormControl('instanceRules').dirty&&getFormControl('instanceRules').hasError('required')">Please input instanceRules!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">instanceInstructions</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input [nzSize]="'large'" formControlName="instanceInstructions" nz-input>
            <nz-form-explain *ngIf="getFormControl('instanceInstructions').dirty&&getFormControl('instanceInstructions').hasError('required')">Please input instanceInstructions!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="flexbox">
          <div class="cell">
            <nz-form-label [nzSm]="6" [nzXs]="24">startDate</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <!--<nz-datepicker formControlName="startDate" [nzSize]="'large'" style="width: 100%;"></nz-datepicker>-->
            </nz-form-control>
          </div>
          <div class="cell">
            <nz-form-label [nzSm]="6" [nzXs]="24">endDate</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <!--<nz-datepicker formControlName="endDate" [nzSize]="'large'" style="width: 100%;"></nz-datepicker>-->
            </nz-form-control>
          </div>
        </nz-form-item>
        <nz-form-item class="flexbox">
          <nz-form-label [nzSm]="6" [nzXs]="24">createDate</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <!--<nz-datepicker formControlName="createDate" [nzSize]="'large'" style="width: 100%;"></nz-datepicker>-->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">createUser</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input [nzSize]="'large'" formControlName="createUser" nz-input>
            <nz-form-explain *ngIf="getFormControl('createUser').dirty&&getFormControl('createUser').hasError('required')">Please input createUser!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="flexbox">
          <nz-form-label [nzSm]="6" [nzXs]="24">updateDate</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <!--<nz-datepicker formControlName="updateDate" [nzSize]="'large'" style="width: 100%;"></nz-datepicker>-->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">updateUser</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input [nzSize]="'large'" formControlName="updateUser" nz-input>
            <nz-form-explain *ngIf="getFormControl('updateUser').dirty&&getFormControl('updateUser').hasError('required')">Please input updateUser!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-form-item style="margin-bottom:8px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="3">
        <button nz-button [nzSize]="'large'" [nzType]="'primary'" (click)="submit()">{{id>0?'更新':'创建'}}</button>
        &nbsp;
        <button nz-button [nzSize]="'large'" routerLink="../../">返回</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
