<page-header [title]="'BI 神器'">
  <ng-template #action>
    <ng-container *ngIf="selectedRows.length > 0">
      <button nz-button [nzSize]="'large'">批量操作</button>
      <nz-dropdown [nzPlacement]="'bottomLeft'">
        <button nz-button nz-dropdown [nzSize]="'large'">
          更多操作
          <i class="anticon anticon-down"></i>
        </button>
        <ul nz-menu>
          <li nz-menu-item (click)="remove()">删除</li>
          <li nz-menu-item (click)="approval()">批量审批</li>
        </ul>
      </nz-dropdown>
      &nbsp;
    </ng-container>
    <button nz-button routerLink="detail/0" [nzType]="'primary'" [nzSize]="'large'">
      <i class="anticon anticon-plus"></i>
      创建
    </button>
    <nz-dropdown>
      <button nz-button nz-dropdown [nzType]="'primary'" [nzSize]="'large'">
        导出
        <i class="anticon anticon-down"></i>
      </button>
      <ul nz-menu>
        <li nz-menu-item>Excel</li>
        <li nz-menu-item>JSON</li>
        <li nz-menu-item>PNG</li>
      </ul>
    </nz-dropdown>
  </ng-template>
</page-header>
<nz-card [nzBordered]="false">
  <section class="flexbox bisqList">
    <div class="list" *ngFor="let data of App?.dataArray" routerLink="bisqlist/{{data.appId}}">
      <img src="{{data.appIconUrl}}" />
      <p>{{data.appName}}</p>
    </div>
  </section>
</nz-card>
