<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="Name">规则编号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="f['q.Name']" name="Name" placeholder="用户昵称" id="Name">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="Role">用户角色</nz-form-label>
          <nz-form-control>
            <nz-select id="Role" name="Role"
                       nzMode="multiple"
                       nzPlaceHolder="请选择角色"
                       [(ngModel)]="f['q.Role']"
                       nzNotFoundContent="无法找到"
                       nzShowSearch="true">
              <ng-container *ngFor="let k of roles.data">
                  <nz-option [nzLabel]="k.normalizedName" [nzValue]="k.id"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="PhoneNumber">手机号码</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="f['q.PhoneNumber']"
                   name="PhoneNumber"
                   placeholder="手机号码"
                   id="PhoneNumber">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="updatedAt">更新日期</nz-form-label>
          <nz-form-control>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'">查询</button>
        <button nz-button type="reset" (click)="getData()" class="mx-sm">重置</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '收起' : '展开'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </nz-col>
    </nz-row>
  </form>
  <button nz-button routerLink="detail/0" [nzType]="'primary'">
    <i class="anticon anticon-plus"></i><span>新建</span>
  </button>
  <ng-container *ngIf="selectedRows.length > 0">
    <button nz-button class="ml-sm">批量操作</button>
    <nz-dropdown [nzPlacement]="'bottomLeft'">
      <button nz-button nz-dropdown class="ml-sm">
        更多操作 <i class="anticon anticon-down"></i>
      </button>
      <ul nz-menu>
        <li nz-menu-item (click)="remove()">删除</li>
        <li nz-menu-item (click)="approval()">批量审批</li>
      </ul>
    </nz-dropdown>
  </ng-container>
  <div class="my-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        已选择 <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;
        总计 <strong>{{vm.total}}</strong> 条
      </ng-template>
    </nz-alert>
  </div>
  <nz-table #nzTable [nzLoading]="_loading" [nzData]="vm.data" [nzTotal]="vm.total" [(nzPageSize)]="q.pageSize" [(nzPageIndex)]="q.pageIndex" (nzPageIndexChange)="getData()" (nzPageSizeChange)="getData()" [nzShowSizeChanger]="true">
    <thead>
      <tr>
        <th [nzChecked]="true">
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)"></label>
        </th>
        <th nzShowSort nzSortKey="id">
          <span>用户</span>
        </th>
        <th nzShowSort nzSortKey="email">
          <span>邮箱</span>
        </th>
        <th nzShowSort nzSortKey="phoneNumber">
          <span>电话</span>
        </th>
        <th>
          <span>关联账号</span>
        </th>
        <th nzShowSort nzSortKey="createDate">
          <span>注册时间</span>
        </th>
        <th>
          <span>操作</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of nzTable.data">
        <td [nzChecked]="true">
          <label nz-checkbox [(ngModel)]="x.checked" (ngModelChange)="_refreshStatus($event)"></label>
        </td>
        <td>
          <nz-row>
            <nz-col [nzSpan]="6">
              <nz-avatar *ngIf="x.avatar" [nzShape]="'square'" [nzSize]="'large'" nzSrc="{{x.avatar}}"></nz-avatar>
            </nz-col>
            <nz-col [nzSpan]="18">
              {{x.userName}}
              <p>
                <nz-tag *ngFor="let r of x.roles">{{r.name}}</nz-tag>
              </p>
            </nz-col>
          </nz-row>
        </td>
        <td>{{x.email}}</td>
        <td>{{x.phoneNumber}}</td>
        <td>
          <span *ngFor="let x of x.logins">{{x.loginProvider}}</span>
        </td>
        <td>{{x.createDate}}</td>
        <td>
          <a routerLink="detail/{{x.userId}}">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <nz-popconfirm [nzTitle]="'确定要删除？'" (nzOnConfirm)="confirm(x.id)">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
