<div class="content__title">
  <h1>应用详情</h1>
</div>
<nz-card [nzBordered]="false">
  <nz-spin [nzSpinning]="_loading">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="AddOrUpdate()">
      <nz-row>
        <nz-col [nzSpan]="10">
          <h1 id="client_Basics">Basics</h1>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="enabled">
                enabled
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-row>
            <nz-col [nzSm]="6" [nzXs]="24" nzFor="clientId" nzRequired>clientId</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="clientId" nz-input>
              <nz-form-explain *ngIf="getFormControl('clientId').dirty&&getFormControl('clientId').errors">The input is not valid clientId!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSm]="6" [nzXs]="24" nzFor="requireClientSecret" nzRequired>requireClientSecret</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="requireClientSecret" nz-input>
              <nz-form-explain *ngIf="getFormControl('requireClientSecret').dirty&&getFormControl('requireClientSecret').errors">The input is not valid requireClientSecret!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSm]="6" [nzXs]="24" nzFor="allowedGrantTypes" nzRequired>allowedGrantTypes</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <nz-select formControlName="allowedGrantTypes" [nzSize]="'large'">
                <nz-option *ngFor="let x of allowedGrantTypes" [nzLabel]="x.label" [nzValue]="x.grantType"></nz-option>
              </nz-select>
            </nz-col>
          </nz-row>
          <nz-row style="margin-bottom:8px;">
            <nz-col [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="requirePkce">
                requirePkce
              </label>
            </nz-col>
          </nz-row>
          <nz-row style="margin-bottom:8px;">
            <nz-col [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="allowPlainTextPkce">
                allowPlainTextPkce
              </label>
            </nz-col>
          </nz-row>
          <nz-row style="margin-bottom:8px;">
            <nz-col [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="allowOfflineAccess">
                allowOfflineAccess
              </label>
            </nz-col>
          </nz-row>
          <nz-row style="margin-bottom:8px;">
            <nz-col [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="allowAccessTokensViaBrowser">
                allowAccessTokensViaBrowser
              </label>
            </nz-col>
          </nz-row>
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">Client Secrets</h3>
              <div class="ant-card-extra">
                <a (click)="addClientSecrets()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="clientSecrets">
                <div *ngFor="let x of clientSecrets.controls; let i=index" [formGroupName]="i" class="cardItem">
                  <nz-row>
                    <nz-col [nzSpan]="3">Type</nz-col>
                    <nz-col [nzSpan]="6">
                      <input class="form-control" formControlName="type" nz-input>
                    </nz-col>
                    <nz-col [nzSpan]="3">Value</nz-col>
                    <nz-col [nzSpan]="12">
                      <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="value" nz-input>
                    </nz-col>
                  </nz-row>
                  <nz-row>
                    <nz-col [nzSpan]="3">expiration</nz-col>
                    <nz-col [nzSpan]="6">
                      <input class="form-control" formControlName="expiration" nz-input>
                    </nz-col>
                    <nz-col [nzSpan]="3">description</nz-col>
                    <nz-col [nzSpan]="12">
                      <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="description" nz-input>
                      <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delClientSecrets(i,$event)"></i>
                    </nz-col>
                  </nz-row>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">RedirectUris</h3>
              <div class="ant-card-extra">
                <a (click)="addRedirectUris()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="redirectUris">
                <div *ngFor="let x of redirectUris.controls; let i=index" [formGroupName]="i">
                  <nz-col [nzSpan]="12" class="mgbtm15">
                    <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="redirectUri" nz-input>
                    <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delRedirectUris(i,$event)"></i>
                  </nz-col>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">Allowed Scopes</h3>
              <div class="ant-card-extra">
                <a (click)="addAllowedScopes()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="allowedScopes">
                <div *ngFor="let x of allowedScopes.controls; let i=index" [formGroupName]="i">
                  <nz-col [nzSpan]="12" class="mgbtm15">
                    <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="scope" nz-input>
                    <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delAllowedScopes(i,$event)"></i>
                  </nz-col>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">Properties</h3>
              <div class="ant-card-extra">
                <a (click)="addProperties()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="properties">
                <div *ngFor="let x of properties.controls; let i=index" [formGroupName]="i">
                  <nz-form-item>
                    <nz-col [nzSpan]="3">Key</nz-col>
                    <nz-col [nzSpan]="6">
                      <input class="form-control" formControlName="key" nz-input>
                    </nz-col>
                    <nz-col [nzSpan]="3">Value</nz-col>
                    <nz-col [nzSpan]="12">
                      <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="value" nz-input>
                      <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delProperties(i,$event)"></i>
                    </nz-col>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </div>
          <br>
          <h1 id="client_AuthenticationLogout">Authentication/Logout</h1>
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">PostLogout RedirectUris</h3>
              <div class="ant-card-extra">
                <a (click)="addPostLogoutRedirectUris()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="postLogoutRedirectUris">
                <div *ngFor="let x of postLogoutRedirectUris.controls; let i=index" [formGroupName]="i">
                  <nz-col [nzSpan]="12" class="mgbtm15">
                    <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="postLogoutRedirectUri" nz-input>
                    <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delPostLogoutRedirectUris(i,$event)"></i>
                  </nz-col>
                </div>
              </div>
            </div>
          </div>
          <br>
          <nz-row>
            <nz-col [nzSm]="6" [nzXs]="24">
              <label for="frontChannelLogoutUri" nz-form-item-required>frontChannelLogoutUri</label>
            </nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="frontChannelLogoutUri" nz-input>
              <nz-form-explain *ngIf="getFormControl('frontChannelLogoutUri').dirty&&getFormControl('frontChannelLogoutUri').errors">The input is not valid frontChannelLogoutUri!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row style="margin-bottom:8px;">
            <nz-col [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="frontChannelLogoutSessionRequired">
                frontChannelLogoutSessionRequired
              </label>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSm]="6" [nzXs]="24" nzFor="backChannelLogoutUri" nzRequired>backChannelLogoutUri</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="backChannelLogoutUri" nz-input>
              <nz-form-explain *ngIf="getFormControl('backChannelLogoutUri').dirty&&getFormControl('backChannelLogoutUri').errors">The input is not valid backChannelLogoutUri!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row style="margin-bottom:8px;">
            <nz-col [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="backChannelLogoutSessionRequired">
                backChannelLogoutSessionRequired
              </label>
            </nz-col>
          </nz-row>
          <nz-row style="margin-bottom:8px;">
            <nz-col [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="enableLocalLogin">
                enableLocalLogin
              </label>
            </nz-col>
          </nz-row>
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">IdentityProvider Restrictions</h3>
              <div class="ant-card-extra">
                <a (click)="addIdentityProviderRestrictions()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="identityProviderRestrictions">
                <div *ngFor="let x of identityProviderRestrictions.controls; let i=index" [formGroupName]="i">
                  <nz-col [nzSpan]="12" class="mgbtm15">
                    <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="provider" nz-input>
                    <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delIdentityProviderRestrictions(i,$event)"></i>
                  </nz-col>
                </div>
              </div>
            </div>
          </div>
        </nz-col>
        <nz-col [nzSpan]="2"></nz-col>
        <nz-col [nzSpan]="10">
          <h1 id="client_token">Token</h1>
          <nz-row>
            <nz-col [nzSm]="8" [nzXs]="24" nzFor="identityTokenLifetime" nzRequired>identityTokenLifetime</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <nz-input-number [nzSize]="'large'" [nzMax]="31536000" [nzMin]="60" formControlName="identityTokenLifetime"></nz-input-number>
              <nz-form-explain *ngIf="getFormControl('identityTokenLifetime').dirty&&getFormControl('identityTokenLifetime').errors">The input is not valid frontChannelLogoutUri!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSm]="8" [nzXs]="24" nzFor="accessTokenLifetime" nzRequired>accessTokenLifetime</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <nz-input-number [nzSize]="'large'" [nzMax]="31536000" [nzMin]="60" formControlName="accessTokenLifetime"></nz-input-number>
              <nz-form-explain *ngIf="getFormControl('accessTokenLifetime').dirty&&getFormControl('accessTokenLifetime').errors">The input is not valid frontChannelLogoutUri!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSm]="8" [nzXs]="24" nzFor="authorizationCodeLifetime" nzRequired>authorizationCodeLifetime</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <nz-input-number [nzSize]="'large'" [nzMax]="31536000" [nzMin]="60" formControlName="authorizationCodeLifetime"></nz-input-number>
              <nz-form-explain *ngIf="getFormControl('authorizationCodeLifetime').dirty&&getFormControl('authorizationCodeLifetime').errors">The input is not valid frontChannelLogoutUri!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSm]="8" [nzXs]="24" nzFor="absoluteRefreshTokenLifetime" nzRequired>absoluteRefreshTokenLifetime</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <nz-input-number [nzSize]="'large'" [nzMax]="31536000" [nzMin]="60" formControlName="absoluteRefreshTokenLifetime"></nz-input-number>
              <nz-form-explain *ngIf="getFormControl('absoluteRefreshTokenLifetime').dirty&&getFormControl('absoluteRefreshTokenLifetime').errors">The input is not valid frontChannelLogoutUri!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSm]="8" [nzXs]="24" nzFor="slidingRefreshTokenLifetime" nzRequired>slidingRefreshTokenLifetime</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <nz-input-number [nzSize]="'large'" [nzMax]="31536000" [nzMin]="60" formControlName="slidingRefreshTokenLifetime"></nz-input-number>
              <nz-form-explain *ngIf="getFormControl('slidingRefreshTokenLifetime').dirty&&getFormControl('slidingRefreshTokenLifetime').errors">The input is not valid frontChannelLogoutUri!</nz-form-explain>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSm]="8" [nzXs]="24" nzFor="refreshTokenUsage" nzRequired>refreshTokenUsage</nz-col>
            <nz-col [nzSm]="14" [nzXs]="24">
              <nz-select formControlName="refreshTokenUsage" [nzSize]="'large'">
                <nz-option *ngFor="let x of tokenUsage" [nzLabel]="x.name" [nzValue]="x.id"></nz-option>
              </nz-select>
            </nz-col>
          </nz-row>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">refreshTokenExpiration</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select formControlName="refreshTokenExpiration" [nzSize]="'large'">
                <nz-option *ngFor="let x of tokenExpiration" [nzLabel]="x.name" [nzValue]="x.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="updateAccessTokenClaimsOnRefresh">
                updateAccessTokenClaimsOnRefresh
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">accessTokenType</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select formControlName="accessTokenType" [nzSize]="'large'">
                <nz-option *ngFor="let x of accessTokenType" [nzLabel]="x.name" [nzValue]="x.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="includeJwtId">
                includeJwtId
              </label>
            </nz-form-control>
          </nz-form-item>
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">Allowed CorsOrigins</h3>
              <div class="ant-card-extra">
                <a (click)="addAllowedCorsOrigins()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="allowedCorsOrigins">
                <div *ngFor="let x of allowedCorsOrigins.controls; let i=index" [formGroupName]="i">
                  <nz-form-control [nzSpan]="12" class="mgbtm15">
                    <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="origin" nz-input>
                    <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delAllowedCorsOrigins(i,$event)"></i>
                  </nz-form-control>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">Claims</h3>
              <div class="ant-card-extra">
                <a (click)="addClaim()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="claims">
                <div *ngFor="let x of claims.controls; let i=index" [formGroupName]="i">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="3">Type</nz-form-label>
                    <nz-form-control [nzSpan]="6">
                      <input class="form-control" formControlName="claimType" nz-input>
                    </nz-form-control>
                    <nz-form-label [nzSpan]="3">Value</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                      <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="claimValue" nz-input>
                      <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delClaim(i,$event)"></i>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </div>
          <br>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="alwaysSendClientClaims">
                alwaysSendClientClaims
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="alwaysIncludeUserClaimsInIdToken">
                alwaysIncludeUserClaimsInIdToken
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">clientClaimsPrefix</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="clientClaimsPrefix" nz-input>
              <nz-form-explain *ngIf="getFormControl('clientClaimsPrefix').dirty&&getFormControl('clientClaimsPrefix').errors">The input is not valid clientClaimsPrefix!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">pairWiseSubjectSalt</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="pairWiseSubjectSalt" nz-input>
              <nz-form-explain *ngIf="getFormControl('pairWiseSubjectSalt').dirty&&getFormControl('pairWiseSubjectSalt').errors">The input is not valid pairWiseSubjectSalt!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">protocolType</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select formControlName="protocolType" [nzSize]="'large'">
                <nz-option *ngFor="let x of protocolTypes" [nzLabel]="x.name" [nzValue]="x.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <h1 id="client_ConsentScreen">Consent Screen</h1>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="requireConsent">
                requireConsent
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="allowRememberConsent">
                allowRememberConsent
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">consentLifetime</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="consentLifetime" nz-input>
              <nz-form-explain *ngIf="getFormControl('consentLifetime').dirty&&getFormControl('consentLifetime').errors">The input is not valid consentLifetime!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">clientName</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="clientName" nz-input>
              <nz-form-explain *ngIf="getFormControl('clientName').dirty&&getFormControl('clientName').errors">The input is not valid clientId!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">clientUri</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="clientUri" nz-input>
              <nz-form-explain *ngIf="getFormControl('clientUri').dirty&&getFormControl('clientUri').errors">The input is not valid clientUri!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">logoUri</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <img width="100px" [src]="getFormControl('logoUri').value">
              <input type="hidden" formControlName="logoUri">
              <input type="file" nz-button uploader (success)="uploadSuccess($event)" accept=".jpg,.png,.jpeg">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">description</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input [nzSize]="'large'" formControlName="description" nz-input>
              <nz-form-explain *ngIf="getFormControl('description').dirty&&getFormControl('description').errors">The input is not valid description!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
      <footer-toolbar fixed-btns>
        <error-collect></error-collect>
        <button nz-button [nzSize]="'large'" [nzType]="'primary'">{{id>0?'更新':'创建'}}</button>
        <button nz-button [nzSize]="'large'" routerLink="../../">返回</button>
      </footer-toolbar>
    </form>
  </nz-spin>
</nz-card>
