<div class="container">
    <div class="wrap">
        <div class="top">
            <div class="head">
                <a [routerLink]="['/']">
                    <img class="logo" src="./assets/img/logo-color.svg">
                    <span class="title">jixiu</span>
                </a>
            </div>
            <div class="desc">H5活动管理平台</div>
        </div>
        <router-outlet></router-outlet>
        <global-footer [links]="links">
          Copyright <i class="anticon anticon-copyright"></i> 2018 <a href="//github.com/cipchk" target="_blank">jixiu</a>出品
        </global-footer>
    </div>
</div>
