<nz-card [nzBordered]="false">
  <nz-spin [nzSpinning]="_loading">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="AddOrUpdate()">
      <nz-row>
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">avatar</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <img width="100px" [src]="getFormControl('avatar').value" />
              <input type="hidden" formControlName="avatar">
              <input type="file" nz-button uploader (success)="uploadSuccess($event)" accept=".jpg,.png,.jpeg">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">E-mail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="email" nz-input>
              <nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">logins</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" formArrayName="logins">
              <nz-tag *ngFor="let x of logins.controls">{{x.value.providerDisplayName}}</nz-tag>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">passwordHash</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="passwordHash" nz-input>
              <nz-form-explain *ngIf="getFormControl('passwordHash').dirty&&getFormControl('passwordHash').hasError('required')">Please input your password!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">
              <span>
                userName
                <nz-tooltip [nzTitle]="'What do you want other to call you'">
                  <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                </nz-tooltip>
              </span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="userName" nz-input>
              <nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('required')">Please input your userName!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">Phone Number</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input-group [nzSize]="'large'" [nzCompact]="true">
                <nz-select formControlName="phoneNumberPrefix" style="width: 45%;">
                  <nz-option *ngFor="let x of countryCodes | keys" [nzLabel]="'+'+x+' ('+countryCodes[x]+')'" [nzValue]="x"></nz-option>
                </nz-select>
                <input formControlName="phoneNumber" id="'phoneNumber'" nz-input style="width: 55%;">
              </nz-input-group>
              <nz-form-explain *ngIf="getFormControl('phoneNumber').dirty&&getFormControl('phoneNumber').hasError('required')">Please input your phone number!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">normalizedUserName</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="normalizedUserName" nz-input>
              <nz-form-explain *ngIf="getFormControl('normalizedUserName').dirty&&getFormControl('normalizedUserName').hasError('required')">Please input normalizedUserName!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">parentUserID</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="parentUserID" nz-input>
              <nz-form-explain *ngIf="getFormControl('parentUserID').dirty&&getFormControl('parentUserID').hasError('required')">Please input parentUserID!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="isDeleted">
                isDeleted
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="emailConfirmed">
                emailConfirmed
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="phoneNumberConfirmed">
                phoneNumberConfirmed
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="twoFactorEnabled">
                twoFactorEnabled
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">lockoutEnd</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <!--<nz-datepicker formControlName="lockoutEnd" [nzSize]="'large'" style="width: 100%;"></nz-datepicker>-->
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <label nz-checkbox formControlName="lockoutEnabled">
                lockoutEnabled
              </label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">lineageIDs</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="lineageIDs" nz-input>
              <nz-form-explain *ngIf="getFormControl('lineageIDs').dirty&&getFormControl('lineageIDs').hasError('required')">Please input lineageIDs!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">lineage</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="lineage" nz-input>
              <nz-form-explain *ngIf="getFormControl('lineage').dirty&&getFormControl('lineage').hasError('required')">Please input lineage!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">normalizedEmail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="normalizedEmail" nz-input>
              <nz-form-explain *ngIf="getFormControl('normalizedEmail').dirty&&getFormControl('normalizedEmail').hasError('required')">Please input normalizedEmail!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">nickName</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="nickName" nz-input>
              <nz-form-explain *ngIf="getFormControl('nickName').dirty&&getFormControl('nickName').hasError('required')">Please input nickName!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">gender</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="gender" nz-input>
              <nz-form-explain *ngIf="getFormControl('gender').dirty&&getFormControl('gender').hasError('required')">Please input gender!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">address</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="address" nz-input>
              <nz-form-explain *ngIf="getFormControl('address').dirty&&getFormControl('address').hasError('required')">Please input address!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">birthday</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="birthday" nz-input>
              <nz-form-explain *ngIf="getFormControl('birthday').dirty&&getFormControl('birthday').hasError('required')">Please input birthday!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">stature</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="stature" nz-input>
              <nz-form-explain *ngIf="getFormControl('stature').dirty&&getFormControl('stature').hasError('required')">Please input stature!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">weight</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="weight" nz-input>
              <nz-form-explain *ngIf="getFormControl('weight').dirty&&getFormControl('weight').hasError('required')">Please input weight!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">description</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="description" nz-input>
              <nz-form-explain *ngIf="getFormControl('description').dirty&&getFormControl('description').hasError('required')">Please input description!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">createDate</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="createDate" nz-input>
              <nz-form-explain *ngIf="getFormControl('createDate').dirty&&getFormControl('createDate').hasError('required')">Please input createDate!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">lastUpdateTime</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="lastUpdateTime" nz-input>
              <nz-form-explain *ngIf="getFormControl('lastUpdateTime').dirty&&getFormControl('lastUpdateTime').hasError('required')">Please input lastUpdateTime!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">securityStamp</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="securityStamp" nz-input>
              <nz-form-explain *ngIf="getFormControl('securityStamp').dirty&&getFormControl('securityStamp').hasError('required')">Please input securityStamp!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">concurrencyStamp</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="concurrencyStamp" nz-input>
              <nz-form-explain *ngIf="getFormControl('concurrencyStamp').dirty&&getFormControl('concurrencyStamp').hasError('required')">Please input concurrencyStamp!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">accessFailedCount</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <input [nzSize]="'large'" formControlName="accessFailedCount" nz-input>
              <nz-form-explain *ngIf="getFormControl('accessFailedCount').dirty&&getFormControl('accessFailedCount').hasError('required')">Please input accessFailedCount!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">roles</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select formControlName="roles" [nzSize]="'large'" [nzMode]="'multiple'">
                <nz-option *ngFor="let x of roles.data" [nzLabel]="x.normalizedName" [nzValue]="x.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">Claims</h3>
              <div class="ant-card-extra">
                <a (click)="addClaim()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="claims">
                <div *ngFor="let x of claims.controls; let i=index" [formGroupName]="i">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="3">Type</nz-form-label>
                    <nz-form-control [nzSpan]="6">
                      <input class="form-control" formControlName="claimType" nz-input />
                    </nz-form-control>
                    <nz-form-label [nzSpan]="3">Value</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                      <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="claimValue" nz-input />
                      <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delClaim(i,$event)"></i>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="ant-card-bordered ant-card">
            <div class="ant-card-head">
              <h3 class="ant-card-head-title">Properties</h3>
              <div class="ant-card-extra">
                <a (click)="addProperties()">
                  <i class="anticon anticon-plus"></i>
                  添加
                </a>
              </div>
            </div>
            <div class="ant-card-body">
              <div formArrayName="properties">
                <div *ngFor="let x of properties.controls; let i=index" [formGroupName]="i">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="3">Key</nz-form-label>
                    <nz-form-control [nzSpan]="6">
                      <input class="form-control" formControlName="key" nz-input />
                    </nz-form-control>
                    <nz-form-label [nzSpan]="3">Value</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                      <input style="width: 80%; margin-right:8px;" class="form-control" formControlName="value" nz-input />
                      <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="delProperties(i,$event)"></i>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </div>
        </nz-col>
      </nz-row>
      <footer-toolbar fixed-btns>
        <error-collect></error-collect>
        <button nz-button [nzSize]="'large'" [nzType]="'primary'">{{id>0?'更新':'创建'}}</button>
        <button nz-button [nzSize]="'large'" routerLink="../../">返回</button>
      </footer-toolbar>
    </form>
  </nz-spin>
</nz-card>
