<div class="modal-header">
  <div class="modal-title">发布微服务</div>
</div>
<form #f="ngForm" (ngSubmit)="save()" nz-form [nzType]="'horizontal'">
  <div nz-form-item nz-row class="mb-sm">
    <div nz-form-label nz-col [nzSpan]="4"><label class="ant-form-item-required">Suffix</label></div>
    <div nz-form-control nz-col [nzSpan]="14">
      <div class="ant-input-group">
        <span class="ant-input-group-addon ng-star-inserted">http(s)://ApiGatewayServer/</span>
        <input nz-input [(ngModel)]="vm.suffix" name="suffix" maxlength="32" placeholder="6-32字母和数字组合" required />
      </div>
    </div>
  </div>

  <div nz-form-item nz-row class="mb-sm">
    <div nz-form-label nz-col [nzSpan]="4"><label class="ant-form-item-required">SwaggerUri</label></div>
    <div nz-form-control nz-col [nzSpan]="20">
      <input nz-input [(ngModel)]="vm.swaggerUrl" name="SwaggerUri" required />
    </div>
  </div>

  <div nz-form-item nz-row class="mb-sm">
    <div nz-form-label nz-col [nzSpan]="4"><label>产品组</label></div>
    <div nz-form-control nz-col [nzSpan]="8">
      <nz-select [(ngModel)]="vm.productId" name="productId" nzId="productId" [nzPlaceHolder]="'产品组'" [nzSize]="'large'">
        <nz-option *ngFor="let i of products" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
      </nz-select>
      <ng-container *ngFor="let i of products">
        <p nz-form-explain *ngIf="i.id==vm.productId">{{i.description}}</p>
      </ng-container>
    </div>
  </div>

  <div nz-form-item nz-row class="mb-sm">
    <div nz-form-label nz-col [nzSpan]="4"><label>OAuth Server</label></div>
    <div nz-form-control nz-col [nzSpan]="8">
      <nz-select [(ngModel)]="vm.authorizationServerId" name="authorizationServerId" nzId="authorizationServerId" [nzPlaceHolder]="'OAuth Server'" [nzSize]="'large'">
        <nz-option *ngFor="let i of authServers" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
      </nz-select>
    </div>
  </div>

  <!--<div nz-form-item nz-row class="mb-sm">
    <div nz-form-label nz-col [nzSpan]="4"><label>scope</label></div>
    <div nz-form-control nz-col [nzSpan]="8">
      <textarea nz-input [(ngModel)]="vm.scope" name="scope" rows="2"></textarea>
    </div>
  </div>

  <div nz-form-item nz-row class="mb-sm">
    <div nz-form-label nz-col [nzSpan]="4"><label>openid</label></div>
    <div nz-form-control nz-col [nzSpan]="8">
      <input nz-input [(ngModel)]="vm.openid" name="openid" maxlength="32" />
    </div>
  </div>-->

  <div nz-form-item nz-row class="mb-sm">
    <div nz-form-label nz-col [nzSpan]="4"><label>Policy</label></div>
    <div nz-form-control nz-col [nzSpan]="20">
      <textarea nz-input [(ngModel)]="vm.policy" name="policy" rows="5" placeholder="{{policyExample}}"></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button [disabled]="!f.form.valid" [nzLoading]="loading" [nzType]="'primary'">发布</button>
  </div>
</form>
